In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


plt.style.use('seaborn-v0_8')
sns.set_palette("viridis")

df = pd.read_csv("A:/Data_Science_Course/data/titanic.csv")

print("Dataset Загружен!")
print (f"Размер: {df.shape}")
df.head()

Dataset Загружен!
Размер: (891, 12)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
missing = df.isnull().sum()
missing = missing[missing>0]
missing.sort_values(ascending=False)

In [ ]:
for col in df.select_dtypes(include='object').columns:
    print(f"\n{col}:")
    print(df[col].value_counts(dropna=False).head())

In [ ]:
# 1. Сколько выжило / не выжило?
plt.figure(figsize=(6, 4))
sns.countplot(data=df,x = 'Survived')
plt.title('Распределение выживаемости')
plt.xlabel('Survived (0 = нет, 1 = да)')
plt.show()

In [ ]:
# 2. Выживаемость по полу
plt.figure(figsize=(6, 4))
sns.countplot(data=df, x='Sex', hue='Survived')
plt.title('Выживаемость по полу')
plt.xlabel('Пол')
plt.legend(title='Survived', labels=['Нет', 'Да'])
plt.show()

In [ ]:
# 3. Распределение возраста
plt.figure(figsize=(8, 4))
sns.histplot(data=df, x='Age', bins=20, kde=True)
plt.title('Распределение возраста пассажиров')
plt.xlabel('Возраст')
plt.ylabel('Количество')
plt.show()

In [ ]:
# 4. Выживаемость по классу
plt.figure(figsize=(8, 4))
sns.countplot(data=df, x='Pclass', hue='Survived')
plt.title('Выживаемость по классу билета')
plt.xlabel('Класс (1 = высший, 2 = средний, 3 = третий)')
plt.legend(title='Survived', labels=['Нет', 'Да'])
plt.show()